EXPO_PUBLIC_API_URL=http://localhost:8090
EXPO_PUBLIC_APP_SECRET=supersecretkey

#Backend
EXPO_PUBLIC_API_URL_WEB=http://localhost:8090
EXPO_PUBLIC_API_URL_ANDROID=http://10.0.2.2:8090
EXPO_PUBLIC_API_URL_DEVICE=http://192.168.x.x:8090

EXPO_PUBLIC_ANDROID_CLIENT_ID=""
EXPO_PUBLIC_WEB_CLIENT_ID=""
