API_URL=https://example.com
APP_SECRET=supersecretkey

#Backend
API_URL_WEB=http://localhost:8090
API_URL_ANDROID=http://10.0.2.2:8090
API_URL_DEVICE=http://192.168.x.x:8090

ANDROID_CLIENT_ID=""
WEB_CLIENT_ID=""
